
<footer class="footer">
    <div class="logo">
        <a class="navbar-brand" href=""><img src="/assets/logo.png" style="height: 100px;width: 100px;"></a>
    </div>

    <div class="copyright">
        <h5 class="developers" >Frontend <strong style="color: aqua;" class="strong" >d1m0s23</strong></h5>
        <h5 class="developers" style="padding-left: 25px;">Backend & SEO<strong style="color: aqua;" class="strong" >eLemeLkyaa</strong></h5>
        <h5 class="developers" style="padding-left: 25px;">Designer <strong style="color: aqua;" class="strong" >Lato</strong></h5>
    </div>
</footer>
