<style>
    @import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
    .footer{
        background-color: #000000;
        width: 1450px;
        height: 400px;
    }
.logo{
    padding-left: 650px;
}
.logo-text{
    padding-left: 650px;

}
/* Андерлайн слева */
.logo-text {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.logo-text:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.logo-text:hover:before, .logo-text:focus:before, .logo-text:active:before {
  right: 0;
}

</style>
<footer class="footer" >
    <div class="logo">
        <a class="navbar-brand" href="/"><img src="/assets/logo.png" style="height: 100px;width: 100px;"></a>
    </div>
    <div>
    <h2 class="logo-text">TopBots</h2>
    </div>
</footer>