<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" id="theme" href="/static/dark.css">
<link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
<div class="preloader">
    <div id="preloader">
        <div id="loader"></div>
      </div>
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div>

  <!-- Основной контент страницы -->

  <script>
    window.onload = function () {
      document.body.classList.add('loaded_hiding');
      window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
      }, 500);
    }
  </script>
<script>
$(document).ready(function() {
    const themeFromLocal = localStorage.getItem("theme");
    const themes = ["white", "dark", "ocean"];
    const currentTheme = themes.includes(themeFromLocal) ? themeFromLocal : "dark";
    $("#theme").attr("href", `/static/${currentTheme}.css`);
});
</script>
<button onclick="topFunction()" id="myBtn" title="Вверх"><img src="./assets/upload.png" ></img></button>
        <script>
            window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 1250 || document.documentElement.scrollTop > 1250) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0; 
    document.documentElement.scrollTop = 0; 
}

        </script>
