<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <style>
    .navbar-brand {border-radius: 10px;}
    .navbar-brand {
        background-color: #00ccff; 
border: none;
color: rgb(0, 217, 255);
padding: 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: all 500ms ease; 
    }
    .navbar-brand:hover {
background: #ffffff;
color: #ffffff;
}

.navbar-brand::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 6px;
  background-color: #ffffff;
  border-bottom: 6px solid #00d4fa;
  transition: 2s;
}
.navbar-brand:hover::before {
  width: 100%;
}
.navbar-brand::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 25%;
  width: 0;
  height: 6px;
  background-color: #262626;
  transition: .5s;
  transition-delay: .5s;
}
.navbar-brand:hover::after {
  width: 50%;
}  
.navbar-brand span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 6px;
  background-color: #fff;
}
</style>
    <a class="navbar-brand" href="/"><img src="/assets/logo.png" style="height: 50px; width: 50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
   <style>
  .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 6px;
  background-color: #ffffff;
  border-bottom: 6px solid #00d4fa;
  transition: 2s;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 25%;
  width: 0;
  height: 6px;
  background-color: #262626;
  transition: .5s;
  transition-delay: .5s;
}
.nav-link:hover::after {
  width: 50%;
}  
.nav-link span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 6px;
  background-color: #fff;
}
/* Андерлайн снизу */
.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
        .themebutton {border-radius: 12px;}
        .themebutton {
            background-color: #00ccff; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;
    transition: all 500ms ease; 
        }
        .themebutton:hover {
background: #ffffff;
color: #00d9ff;
box-shadow: inset 0 0 0 3px #ffffff;
}
          </style>
          <script>
            function themetoggle(){
              if(currentTheme === 'dark'){
                toggleTheme('white')
              }
            }
          </script>
          <button class="themebutton" onClick="themetoggle()"> <img alt="" src="/assets/button.png" width="28" height="28" style="vertical-align:middle" /></button>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
          <style>
      /* ПрогрессБар  */
            .botadd::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 6px;
            background-color: #ffffff;
            border-bottom: 6px solid #00ccff;
            transition: 2s;
          }
          .botadd:hover::before {
            width: 100%;
          }
          .botadd::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 25%;
            width: 0;
            height: 6px;
            background-color: #262626;
            transition: .5s;
            transition-delay: .5s;
          }
          .botadd:hover::after {
            width: 50%;
          }  
          .botadd span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 25%;
            width: 50%;
            height: 6px;
            background-color: #fff;
          }
          /* Андерлайн  */
.botadd {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.botadd:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00ccff;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.botadd:hover:before, .botadd:focus:before, .botadd:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.botadd {border-radius: 12px;}
        .botadd {
            background-color: #00ccff; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;
    transition: all 500ms ease; 
        }
        .botadd:hover {
background: rgba(255, 255, 255, 0);
color: #00ccff;
box-shadow: inset 0 0 0 3px #00d9ff;
}
                    </style>
         <button type="button" class="botadd" data-toggle="modal" data-target="#exampleModal" style="background-color: #0092ac;"> Добавить бота </button>
            </li>
          </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #ffffff;"  id="exampleModalLabel">Добавить бота</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Нажимая на кнопку "Добавить" вы соглашаетесь с тем что вы автоматический будете добавленый на сервер поддержки
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button  class="btn btn-primary" onclick="document.location='/bots/add'" >Добавить</button>
      </div>
    </div>
  </div>
</div>
          
            <% if (user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-primary pl-3 pr-3 mr-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white !important;border-radius: 10px;"><%= user.username %>#<%= user.discriminator %></a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" style="background-color: #00ccff;"  href="/me">Профиль</a>
                        <a class="dropdown-item" href="/logout">Выйти</a>
                        <% if (user.staff) { %>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"  href="/queue">Очередь</a>
                        <% } %>
                    </div>
                </li>
            <% } else { %>
                <li class="nav-item">
                  <style>
                    .nav-item::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 6px;
                    background-color: #ffffff;
                    border-bottom: 6px solid #00d4fa;
                    transition: 2s;
                  }
                  .nav-item:hover::before {
                    width: 100%;
                  }
                  .nav-item::after {
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 25%;
                    width: 0;
                    height: 6px;
                    background-color: #262626;
                    transition: .5s;
                    transition-delay: .5s;
                  }
                  .nav-item:hover::after {
                    width: 50%;
                  }  
                  .nav-item span {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 25%;
                    width: 50%;
                    height: 6px;
                    background-color: #fff;
                  }
                  
                            </style>
                    <a href="/login" style="background-color: #00ccff; border-radius: 10px;"  class="btn btn-primary pl-3 pr-3 mr-3">Войти</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>

<script>
$(function (params) {
    const searchBtn = $("#search-btn");
    searchBtn.click(function (event) {
        event.preventDefault();
        const searchBox = $("#search-box");
        const searchTerm = searchBox.val();
        if(searchTerm) {
            searchBtn.addClass("disabled");
            location.replace(`/search?q=${searchTerm}`);
        }
    });
});

function toggleTheme(theme) {
    localStorage.setItem("theme", theme);
    location.reload();
}
</script>
