<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | TopBots</title>
    <%- include("./components/header.ejs") %>
</head>
<body>
    <%- include("./components/navbar.ejs", { bot, user }) %>

    <div class="container">
        <br><br>
        <div style="background-image: url(/assets/black_background.png);" class="jumbotron">
            <h2>404 </h2>
        </div>
    </div>
</body>
</html>