<%- include("./components/header.ejs") %>
<html>
    <head>
    <%- include("./components/header.ejs") %>
    <title>Как сделать своего бота лучше? | TopBots</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <meta name="keywords" content="TopBots, Список Дискорд ботов, Лучшие боты, Боты, боты, Discord Bots List, TB, мониторинг ботов Дискорд, discord bot monitoring, боты для дискорда, как добавить бота в дискорд, бот для дискорда музыка, discord, боты для дискорд, боты для discord, мониторинг ботов, бот для дискорда музыка, как создать своего бота в discord,">
    <meta name="description" content="Хочешь найти ботов?Либо раскрутить своего бота?Зайди на top-bots.top .Мы поможем тебе найти лучших ботов для твоего сервера,либо раскрутить своего бота. TopBots - Лучшие боты в одном месте. Надйди лучшего бота! bot,bots,боты">
    </head>
    <body>
        <h5><strong>Как создать лучшего бота в discord</strong></h5>
    </body>
</html>