<html>
<head>
    <%- include("./components/header.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лист Ботов Дискорд | TopBots</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <meta name="keywords" content="TopBots, Список Дискорд ботов, Лучшие боты, Боты, боты, Discord Bots List, TB, мониторинг ботов Дискорд, discord bot monitoring, боты для дискорда, как добавить бота в дискорд, бот для дискорда музыка, discord, боты для дискорд, боты для discord, мониторинг ботов, бот для дискорда музыка, дискорд, discord, боты дискорд, дискорд боты, лист ботов дискорд, топ ботов дискорд, русские боты дискорд, список русских ботов дискорд, лучшие боты дискорд, discord bots, bots discord, boticord, top bots, topgg, botsgg, discordbots, botsfordiscord, cool discord bots, дискорд, discord, боты дискорд, дискорд боты, лист ботов дискорд, топ ботов дискорд, русские боты дискорд, список руских ботов дискорд, лучшие боты дискорд, discord bots, bots discord">
    <meta name="description" content="Хочешь найти ботов для сервера discord?Либо раскрутить своего бота в discord?Зайди на top-bots.top .Мы поможем тебе найти лучших ботов для твоего сервера в дискорде,либо раскрутить своего бота. TopBots - Лучшие боты дискорда в одном месте. Найди лучшего бота! bot,bots,боты">
    <meta name="yandex-verification" content="860953b3b7436c65" />
    <%- include("./components/header.ejs") %>
</head>
    <body>
        <svg style="height: 100%;" class="editorial"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none">
       <defs>
       <path id="gentle-wave"
       d="M-160 44c30 0 
       58-18 88-18s
       58 18 88 18 
       58-18 88-18 
       58 18 88 18
       v44h-352z" />
       </defs>
       <g class="parallax">
       <use  xlink:href="#gentle-wave" x="75" y="0" class="wave"/>
       <use xlink:href="#gentle-wave" x="75" y="3" class="wave2"/>
       <use xlink:href="#gentle-wave" x="75" y="6" class="wave3"/>  
       </g>
       </svg>                  
       <div class="content">
           <form class="warnform"></form>
       </div> 
      <%- include("./components/footer.ejs") %>
    </body>
</html>
